---
layout: default
title: "Møtereferater"
breadcrumb: true
permalink: "/archive/"
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}


		<dl class="accordion" data-accordion>
			{% assign counter = 1 %}
			{% assign meetings = site.posts | sort: 'date' %}
            {% assign meetings_by_date = site.posts | group_by_exp:"posts", "posts.date | date: '%Y'" %}
            {% for meetings_in_year in meetings_by_date limit:1000 %}
            <h2>{{ meetings_in_year.name }}</h2>
                {% for meeting in meetings_in_year.items limit:1000 %}
                {% assign meeting_url = meeting.url | absolute_path %}
                <dd class="accordion-navigation">
                    <a href="#panel{{ counter }}">
                        <span class="iconfont"></span><strong>{{ meeting.title | capitalize }}</strong>  -- {{ meeting.date | date: "%d. %B %Y" }}
                    </a>
                    <div id="panel{{ counter }}" class="content">
                        <a href="{{meeting_url}}" title="Read {{ meeting.title | escape_once }}"> <strong> {{ site.data.language.read }} {{ meeting.title | escape_once }} </strong></a><br><br>
                        {% include toc.html html=meeting.content baseurl=meeting_url %}
                    </div>
                </dd>
                {% assign counter=counter | plus:1 %}
                {% endfor %}
            {% endfor %}

		</dl>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
