---
layout: default
format: post
---

<div class="row t30">
    <div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
    <article itemscope itemtype="http://schema.org/Article">
        <header>
            {% if page.image.title %}
            <figure>
                {% if page.image %}
                <img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">
                {% endif %}
                {% if page.image.caption_url and page.image.caption %}
                <figcaption class="text-right">
                    <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
                </figcaption>
                {% elsif page.image.caption %}
                <figcaption class="text-right">
                    {{ page.image.caption }}
                </figcaption>
                {% endif %}
            </figure>
            {% endif %}

            <span itemprop="name">
					<p class="subheadline">
						{% if page.subheadline -%}
						{{ page.subheadline }}
						{%- else -%}Møte i Fordelingsutvalget
						{% endif -%}
					</p>
						{% if page.date %}
					<p class="subheadline">
						{{ page.date | date: "%Y-%m-%d" }}
					</p>
						{% endif %}
					<h1>{{ page.title }}</h1>
					{% if page.inaccurate == true -%}
						{% include _inaccurate_meeting_warning.html %}
					{% endif -%}
					<p>
						{% if page.referent -%}
						Referent: {{ page.referent }}
						{% endif -%}
					</p>
				</span>
        </header>


        {% if page.teaser %}
        <p class="teaser" itemprop="description">
            {{ page.teaser | markdownify }}
        </p>
        {% endif %}

        <!-- TODO: Add list here -->



    </article>
    {% include _improve_content.html %}
</div><!-- /.medium-8.columns -->


{% if page.sidebar == "left" %}
<div class="medium-4 columns medium-pull-8">
    {% include _sidebar.html %}
</div><!-- /.medium-4.columns -->
{% endif %}


{% if page.sidebar == "right" %}
<div class="medium-4 columns">
    {% include _sidebar.html %}
</div><!-- /.medium-4.columns -->
{% endif %}
</div><!-- /.row -->
