---
layout: default
format: post
---
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.title %}
				<figure>
					{% if page.image %}
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">
					{% endif %}
					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<span itemprop="name">
					<p class="subheadline">
						{% if page.subheadline -%}
						{{ page.subheadline }}
						{%- else -%}Møte i Fordelingsutvalget
						{% endif -%}
					</p>
						{% if page.date %}
					<p class="subheadline">
						{{ page.date | date: "%Y-%m-%d" }}
					</p>
						{% endif %}
					<h1>{{ page.title }}</h1>
					{% if page.inaccurate == true -%}
						{% include _inaccurate_meeting_warning.html %}
					{% endif -%}
					<p>
						{% if page.referent -%}
						Referent: {{ page.referent }}
						{% endif -%}
					</p>
				</span>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser | markdownify }}
			</p>
			{% endif %}

			{% if page.attending %}
			<h2>Deltagere med stemmerett:</h2>
			<ul>
			{% for attend_line in page.attending %}
				{% assign attendee = attend_line | split:","%}

				{% assign assoc_code = attendee[0] | downcase %}
				{% assign name = attendee[1] %}
				{% assign status = attendee[2] %}

				{% if status == "+" %}
					{% assign status = "(Stemmerett)" %}
				{% elsif status == "-" %}
					{% assign status = "(Observatør)" %}
				{% else %}
					{% assign status = ""%}
				{% endif %}

				{% assign assoc_obj = site.data.associations[assoc_code] %}
				{% assign assoc_tmp = site.associations | where_exp: "e","e.url contains assoc_code" %}

				{% if assoc_obj.name %}
					<li><a href="{{ assoc_tmp[0].url | absolute_path }}"> {{ assoc_obj.name }}</a>{%if name%}, {{name}} {%endif%} {%if status%}{{status}}{%endif%} </li>
				{% else %}
					<li>INVALID code: "{{attendee}}"</li>
				{% endif %}
			{% endfor %}
			</ul>

			{% endif %}

			{% if page.not_attending %}
			<h2>Representanter og observatører ikke til tilstede:</h2>
				<ul>
				{% for attendee in page.not_attending %}
					{% assign assoc_code = attendee | downcase %}

					{% assign assoc_obj = site.data.associations[assoc_code] %}
					{% assign assoc_tmp = site.associations | where_exp: "e","e.url contains assoc_code" %}

					{% if assoc_obj.name %}
						<li><a href="{{ assoc_tmp[0].url | absolute_path }}"> {{ assoc_obj.name }}</a></li>
					{% else %}
						<li>INVALID code: "{{attendee}}"</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endif %}


			{% if page.other_attending %}
				<h2>Andre:</h2>
				<ul>
				{% for attend_line in page.other_attending %}
					{% assign attendee = attend_line | split:","%}

					{% assign assoc_code = attendee[0] | downcase %}
					{% assign name = attendee[1] %}
					{% assign status = attendee[2] %}

					{% if status == "-" %}
						{% assign status = "(Observatør)" %}
					{% else %}
						{% assign status = ""%}
					{% endif %}

					{% assign assoc_obj = site.data.associations[assoc_code] %}
					{% assign assoc_tmp = site.associations | where_exp: "e","e.url contains assoc_code" %}

					{% if assoc_obj.name %}
						<li><a href="{{ assoc_tmp[0].url | absolute_path }}"> {{ assoc_obj.name }}</a>{%if name%}, {{name}} {%endif%} {%if status%}{{status}}{%endif%} </li>
					{% else %}
						<li>{{ assoc_code | capitalize }}{%if name%}, {{name}} {%endif%}</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endif %}



			<h2>Referat:</h2>
			<span itemprop="articleSection">
				{{ content }}
			</span>

			<h2>Vedlegg:</h2>
			<ol type="1">
				{% assign date_str = page.date | date: "%Y-%m-%d"  %}
				{% for files in site.static_files %}
					{% if files.path contains date_str %}
						{% assign file_link = files.path | absolute_url %}
						<li><a href="{{ file_link }}" target="_blank"> {{ files.name }} </a></li>
					{% endif %}
				{% endfor %}
			</ol>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
		{% include _improve_content.html %}
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
