---
layout: default
format: post
breadcrumb: yes
---

<div class="row t30">
  <div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">

    {% assign short_code = page.title | downcase %}
    {% assign assoc_data = site.data.associations[short_code] %}

    <h1>{{ assoc_data.real }}</h1>
    {% if assoc_data.real != assoc_data.name %}
      <em>Også kjent som {{ assoc_data.name }}.</em>
    {% endif %}
    
    <blockquote>
      {{ assoc_data.tagline | markdownify }}
    </blockquote>

    {% if assoc_data.former_name %}
      <em>Denne rollen er tidligere kjent som: {{ assoc_data.former_name }}</em>
    {% endif %}


    {% if assoc_data.periods %}
      <h2>Innehavere av rolle</h2>
      <ul>
        {% assign sorted_periods = assoc_data.periods | sort: "start" %}
        {% for period in sorted_periods %}
          {%- if period.end != "current" -%}
          <li>{{ period.start }}–{{ period.end }}<br />{{ period.real }}</li>
          {%- else -%}
          <li>{{ period.start }}-nåværende<br />{{ assoc_data.real }}</li>
          {%- endif -%}
        {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>

